<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main.html">
<div layout:fragment="site_content" >
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-6 offset-3">
                <div class="jumbotron">
                    <h1 class="display-4">Encryption algorithms</h1>
                    <p class="lead">This website was created for implementing the encryption algorithms.
                    You can use four types of them. Links are in the navigation bar!</p>
                </div>
            </div>
        </div>
    </div>
</div>
</html>